h1 {
  text-align: center;
}
img {
  padding: 5px;
  cursor: pointer;
}
.basic-card {
  border: 1px dotted lightgrey;
  padding: 5px;
  font-size: 12px;
  text-align: left;
}

#all {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  width: 400px;
  text-align: center;
}

li {
  font-style: italic;
  list-style: none;
}
